@{
    ViewData["Title"] = "General privacy";
}
<h1>@ViewData["Title"]</h1>


<p>
    A general privacy policy explains a platform's interactions with the 
    personal information and personally identifiable information (PII) of 
    its users. PII is information that can be used by itself, or combined 
    with other information, to identify an individual. ... e-commerce privacy policies.
</p>

